# --- Terraform ---
*.tfstate
*.tfstate.*
crash.log
crash.*.log
.terraform/
.terraform.lock.hcl
*.tfvars
!example.tfvars

# --- Packer ---
*.pkr.hcl.override
packer_cache/
output-*/

# --- Ansible ---
*.retry
*.log

# --- Sistema / Entorno ---
.DS_Store
.env
.idea/
.vscode/